@*@model IEnumerable<Inv.Entities.Order>*@

@{
    ViewBag.Title = "Index";
}
<div class="container body-content">
    <h2>Orders</h2>
    @*@Html.DevExpress().FormLayout(settings =>{

        settings.Name = "SearchForm";
        settings.Items.Add(item=>{
            item.Caption = "From";
            item.
        });*@

    <p>
        Export Report from: <input type="date" name="fromDate" value="" /> &nbsp; To: <input type="date" name="toDate" value="" />
        <input id="searchOrders" type="submit" value="GetReport" class="btn btn-primary" />
        <input class="btn btn-primary togglehidden" name="exitsearch" type="submit" value="Exit Search" />
    </p>

    @*@Html.Action("OrdersGridViewPartial")*@
    @Html.Partial("_OrdersGridViewCallbackPartial")
</div>

<script>
    //$('input[name=exitsearch]').click(function () {
    //    $('input[name=exitsearch]').toggleClass('togglehidden');
    //    searchProduct("");

    //});

    function getReport(fromDate , toDate) {
        cbOrdersGridviewPartial.PerformCallback({ from: fromDate, to : toDate});

    }


    $(document).delegate("#searchOrders", "click", function (event) {
        event.preventDefault();
        getReport($('input[name=fromDate]').val(), $('input[name=toDate]').val());
        //$('input[name=exitsearch]').removeClass('togglehidden');
        console.log($('input[name=fromDate]').val() + " == "+$('input[name=toDate]').val());

    });


</script>