@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<button onclick="clickme()"> clickme please</button>

@Html.Partial("_popupPartial");

<script>

    function clickme() {
        popup.Show();
    }

</script>
